/* Header Styles */
.header {
  background-color: #000000;
  color: #ffffff;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  gap: 2rem;      
  padding: 1rem 2.5rem;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-box {
  width: 3rem;
  height: 3rem;
  background-color: #d1d5db;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.HeroText-she {
  color: #FFFFFF;
}

.HeroText-her {
  color: #a21caf;
}

.nav-links {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #a21caf;
}

.artikel-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    background-color: #fff;
}

.artikel-detail-container {
    width: 100%;
    max-width: auto;
    padding: 0 20px;
    font-family: sans-serif;
    color: #333;
}

/* Tombol kembali */
.back-link {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #b20080;
    text-decoration: none;
    margin-bottom: 20px;
}

.artikel-header {
    text-align: center;
    margin: 0 auto 30px auto;
}

.artikel-judul {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    margin: 0 auto 10px auto;
    word-break: break-word;
    max-width: 100%;
}

.artikel-tanggal {
    font-size: 14px;
    color: #666;
    text-align: center;
}

.artikel-line {
    width: 50px;
    height: 4px;
    background-color: #b20080;
    margin: 10px auto;      
    border-radius: 2px;
}

.artikel-detail-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: #ccc;
}

.artikel-detail-placeholder {
    background-color: #eee;
    height: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    margin-bottom: 30px;
}

.artikel-isi {
    font-size: 16px;
    line-height: 1.8;
    white-space: pre-line;
    text-align:justify;
}

.footer-show {
  background-color: #000000;
  color: #ffffff;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  height: 80px;
}